.cabecalho {
    background-color: #841943;
    color: #fff;    
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    padding: 16px;
    border-bottom: 8px solid black;
}

.projetos-relevantes {
    background-color: #FAFFFC;
    font-family: "Crimson Text", "Times New Roman", serif;    
    line-height: 1.5;
    max-width: 85%;
    float: left;
}

.projetos-relevantes-container {
    margin: 40px auto;
    width: 80%;
}

.chamada-projetos {
    margin-left: 2%;
}

.item-projeto,
.foto-perfil,
.perfil
 {
    border: 8px solid black;
}

.item-projeto {
    display: inline-block;
    margin: 2%;
    width: 35%;
    padding: 2%;
}

.item-projeto img {
    width: 100%;
}

.foto-perfil {    
    position: absolute;
    top: 310px;
}

.perfil {
    width: 15%;
    float: right;
    box-sizing: border-box;
}

.rodape {
    background-color: #000;
    color: #fff;
    padding: 20px;
    clear: both;
}