.cabecalho {
    background-color: #841943;
    color: #fff;        
    padding: 2%;
    border-bottom: 8px solid black;
}

.cabecalho-titulo {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: cent    er;
    text-transform: uppercase;        
}

.projetos-relevantes {
    background-color: #FAFFFC;
    font-family: "Crimson Text", "Times New Roman", serif;    
    line-height: 1.5;
    width: 80%;
    float: left;
}

.projetos-relevantes-container {
    margin: 40px auto;
    width: 80%;
}

.chamada-projetos {
    margin-left: 2%;
}

.foto-perfil,
.perfil
 {
    border: 10px solid black;
}

.item-projeto {
    display: inline-block;
    border: 8px solid black;
    background-color: #FAFFFC;
    width: 45%;
    box-sizing: border-box;
    padding: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.item-projeto img {
    width: 100%;
}

.foto-perfil {    
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
}

.perfil {
    width: 20%;
    float: right;
    box-sizing: border-box;
    color: #fff;
    background-color: #3b1d3c;
    font-weight: 600;
    text-align: center;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    position: relative;
    top: 212px;
    padding: 20px;
}

.nome {
    text-transform: uppercase;
    font-size: 20px;
    padding: 10%;
}

.links-relacionados a {
    display: block;
    color: #fff;
    padding: 2%;
}

.social li {
    display: inline-block;
    font-size: 0px;
    width: 40px;
    height: 40px;
}

.github {
    background: url("../img/github.png") no-repeat;
}

.linkedin {
    background: url("../img/linkedin.png") no-repeat;
}

.twitter {
    background: url("../img/twitter.png") no-repeat;
}

.rodape {
    background-color: #000;
    color: #fff;
    padding: 20px;
    clear: both;
}