.cabecalho {
    background-color: #841943;
    color: #fff;    
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    padding: 16px;
    border-bottom: 8px solid black;
}

.projetos-relevantes {
    background-color: #FAFFFC;
    font-family: "Crimson Text", "Times New Roman", serif;
    font-size: 120%;
    line-height: 1.5;
    margin: 40px auto;
    max-width: 85%;
}

.item-projeto {
    border: 8px solid black;
}

.rodape {
    background-color: #000;
    color: #fff;
    padding: 20px;
}